@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
html {
  font-size: 62.5%; }

body {
  font-family: 'Varela Round', sans-serif;
  color: black; }
  body ul {
    list-style-type: none; }
  body a {
    text-decoration: none;
    color: black; }
  body .botones {
    background-color: #DF2935;
    color: white; }
  body .botones:hover {
    background-color: #9A031E;
    color: white;
    border: #9A031E solid 1px; }
  body .itemT {
    border: white solid 1px;
    gap: 10px;
    text-align: center;
    padding: 5px; }
  body .itemT:hover {
    border: #DF2935 1px solid; }

header {
  background: radial-gradient(#DF2935, black); }
  header .logoBarra img {
    width: 100px;
    margin-top: 10px;
    margin-bottom: 10px; }
  header .botonesBarra ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px; }
    header .botonesBarra ul li a {
      font-weight: bold;
      font-size: 2rem;
      text-transform: uppercase;
      color: antiquewhite; }

footer {
  background-color: #DF2935;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 5px; }
  footer .listaPie {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 5px; }
    footer .listaPie .logoPie img {
      width: 40px; }
    footer .listaPie .logoRedes ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      gap: 10px; }
      footer .listaPie .logoRedes ul li img {
        width: 30px; }

main {
  width: 100%;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px; }
  main p {
    width: 90%;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center; }
  main .zonas {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    text-align: center; }
    main .zonas .local img {
      width: 300px; }
  main .seccionMapaLocales {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    margin-bottom: 20px; }
    main .seccionMapaLocales iframe {
      width: 90%; }

.cajaVideoMapa .seccionVideo {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  gap: 5px; }

.cajaVideoMapa .seccionUbi {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  gap: 5px; }
  .cajaVideoMapa .seccionUbi .textoUbi {
    display: flex;
    flex-direction: row;
    gap: 20px; }

.algunosProductos {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px; }
  .algunosProductos .textoProducto {
    display: flex;
    gap: 20px; }

/* Media Query */
@media (max-width: 767px) {
  .seccionUbi {
    margin-top: 2rem; }
  .botonesBarra ul {
    display: flex;
    flex-direction: column; }
  .listaPie {
    display: flex;
    flex-direction: column;
    align-content: center; }
  .logoRedes ul {
    align-content: space-between;
    gap: 5px; } }
