@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
@font-face {
  font-family: 'Rogue Hero';
  src: url(../font/rogueheroacad.ttf); }

html {
  font-size: 62.5%; }

body {
  font-family: 'Varela Round', sans-serif;
  color: black; }
  body h1, body h2, body h3 {
    font-family: 'Rogue Hero'; }
  body ul {
    list-style-type: none; }
  body a {
    font-family: 'Rogue Hero';
    text-decoration: none;
    color: black; }
    body a:hover {
      color: #9A031E; }
  body .botones {
    background-color: #DF2935;
    color: white; }
    body .botones:hover {
      background-color: #9A031E;
      color: white;
      border: #9A031E solid 1px; }
  body .itemT {
    border: white solid 1px;
    gap: 5px;
    text-align: center;
    padding: 5px; }
    body .itemT:hover {
      border: #DF2935 1px solid; }

header {
  background: radial-gradient(#DF2935, black); }
  header .logoBarra img {
    width: 100px;
    margin-top: 10px;
    margin-bottom: 10px; }
  header .botonesBarra ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px; }
    header .botonesBarra ul li a {
      font-size: 2rem;
      color: antiquewhite; }

footer {
  background-color: #DF2935;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 5px; }
  footer .listaPie {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 5px; }
    footer .listaPie .logoPie img {
      width: 40px; }
    footer .listaPie .logoRedes {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      text-align: center; }
      footer .listaPie .logoRedes ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: center;
        gap: 10px; }
        footer .listaPie .logoRedes ul li img {
          width: 30px; }

main {
  width: 100%;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background: url(../img/fondo.png);
  background-size: 85px;
  /* Locales */
  /* Contacto */ }
  main p {
    width: 90%;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center; }
  main .estiloParrafo, main .estiloParrafoDos {
    color: white;
    background-color: #DF2935;
    border-radius: 10px;
    box-shadow: 1px 1px 10px #9A031E; }
  main .estiloTitulos {
    color: #DF2935;
    font-size: 5rem; }
  main .zonas {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    text-align: center; }
    main .zonas .local img {
      width: 300px; }
  main .seccionMapaLocales {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    margin-bottom: 20px; }
    main .seccionMapaLocales iframe {
      width: 90%; }
  main .formulariosContacto {
    text-align: center; }
    main .formulariosContacto form {
      background-color: white;
      text-align: start;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 1px 1px 10px #9A031E; }
      main .formulariosContacto form .checkTilde:checked {
        background-color: #DF2935;
        border: #DF2935;
        box-shadow: 1px 1px 5px #DF2935; }
  main aside .caruselNoticia .seccionVideo {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 5px; }
  main aside .caruselNoticia .seccionTexto {
    background-color: #f3666f;
    border-radius: 10px; }
  main .seccionUbi {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 5px; }
    main .seccionUbi .textoUbi {
      display: flex;
      flex-direction: row;
      gap: 20px; }
  main .algunosProductos {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px; }
    main .algunosProductos .cajaProductos {
      justify-content: space-around; }
    main .algunosProductos .textoProducto {
      display: flex;
      gap: 20px; }

/* Media Query */
@media (max-width: 767px) {
  .seccionUbi {
    margin-top: 2rem; }
  header .botonesBarra ul {
    display: flex;
    flex-direction: column;
    gap: 3px; }
  footer .listaPie {
    display: flex;
    flex-direction: column;
    align-items: center; }
    footer .listaPie .logoRedes ul {
      justify-content: center; } }
